*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

main{
    background-color: rgb(146, 181, 228);
    padding: 20px;
}

header{
    padding: 50px;
    background-color: paleturquoise;
    text-align: center;
}

#seccSaldo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

#seccAhorrar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

#pCantidad{
    margin:10px 0;
}

#seccRetirar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

#seccMovimientos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#seccGeneral{
    display: flex;
    justify-content: center;
}

#monedas img{
    width: 50px;
    height: 50px;
}

#monedas button{
    border: none;
}

#billetes img{
    width: 90px;
    height: 50px;
}

#billetes button{
    border: none;
}

#monedas{
    margin: 40px 0;
}

#btnAhorrar{
    background-color: #4ca3af;
    color: white;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}


#seccRetirar input{
    width: 100%;
    padding: 10px;
}

#seccResumen{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 30px;
    width: 400px;    
    height: 500px;  
    background-color: rgb(255, 255, 255);
    overflow: auto;   
    border-radius: 8px;

}

#seccResumen h2{
    margin-bottom: 10px;
}

#btnRetirar{
    background-color: #4ca3af;
    color: white;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

.dineroValido:hover {
  background: #1d6fa5;
}